<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
</head>

<body>
  <header>Hello Wold, this is a testing page</header>
  <h1>Buster's Best Bowling Alley</h1>
  <h2>Bet You Can't Bowl A Strike Every Time</h2>
</body>
</html>